# dataset
data/thumbnails128x128
**.mdb

**.ipynb_checkpoints
**.DS_Store
vis/

# Remove Pycache.
**__pycache__

# Ignore VSCode.
**.vscode

# Ignore TensorBoard.
runs_adv/

# checkpoints
**.pkl
**.pt
**.pth
**.model
